doctype html
html(lang="es")
head
	meta(charset="UTF=8")
	link(rel="stylesheet", href="./public/css/app.css")
body
	section(class="Layaut")
		section(class="Layaut-antagonist") antagonist
		section(class="Layaut-main")
			div(class="Layaut-status") status
			div(class="Layaut-battle") battle
			div(class="Layaut-phases") phases
		section(class="Layaut-player") player